@import "./layout.scss";


@mixin card-wrapper($width, $height){
    padding: 1em;
    border-radius: 0.875em;
    background-color: white;
    width: $width;
    height: $height;
    @include flex-vertical-layout;
    position: relative;
   

    span{
        font-size: 1.25em;
        color:  #0D163A;
      
        font-weight: 700;
        letter-spacing: -1px;
    }
}

@mixin overview-card-wrapper{  
    .card-wrapper{
      @include card-wrapper(20.38vw, 125.5px);
      padding: 1.25em;
      border-radius: 0.875em;
      border: 1px solid #DEDEDEB2;

      &:hover{
        background-color: #4745A4; 
        .text-content .title span, .value-content span {
            color: white;
          }
      }
    
      .text-content{
        @include flex-horizontal-layout;    
         gap: 9px;
         height: 48px;
        
            .icon-wrapper{
            padding: 0.4em 0.5em;
            border: 1px solid #EEEEEE;
            border-radius: 50%;
         }

         .title{
            span{
                font-weight: 600;
                font-size:  1.125em;
                line-height: 1.5em;
            }

            .description{
                @include flex-horizontal-layout;
                gap: 4px;

                img{
                    width: 0.875em;
                    height: 0.875em;

                }

                span{
                    font-weight: 400;
                    font-size: 0.75em;
                    color:  #0D163A;
                    opacity: 60%;
                }
            }
         }
      }

      .value-content{
        @include flex-horizontal-layout;
           justify-content: space-between;

           span{
              font-size: 1.75em;
              font-weight: 600;
              letter-spacing: -2px;
           }
      }
     
    }
    
}