@import "@fontsource/plus-jakarta-sans";

$font-stack: 'Plus Jakarta Sans';

.layout-wrapper {
    display: flex;
    font-family: $font-stack;
    height: 100vh;
    width: 100vw;
    background-color: #F7F7FB;
    box-sizing: border-box;
}

.sidebar-section {
    width: 280px;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;

}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 872px;
    align-items: center;
    justify-content: space-between;

    .feature {
        height: 512px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

.figure {
    background-color: #D9D9D9;
    width: 178px;
    height: 52px;
    margin-left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlink {
    display: flex;
    gap: 16px;
    opacity: 70%;
    width: 258px;
    height: 64px;
    align-items: center;
    justify-content: center;
    padding-left: 45px;

    span {
        font-weight: 400;
    }

    &.active-link {
        font-weight: 600;
        opacity: 100%;
        color: #0D163A;

        img {
            color: #F9BA33;
        }
    }


}